:root {
    font-size: 16px;

    --font-size--3xs: 0.35em;
    --font-size--2xs: 0.5em;
    --font-size--xs: 0.75em;
    --font-size--s: 0.875em;
    --font-size--m: 1em;
    --font-size--l: 1.125em;
    --font-size--xl: 1.25em;
    --font-size--2xl: 1.5em;
    --font-size--3xl: 2em;
    --font-size--4xl: 2.75em;

}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: NotoSans;
    font-weight: bold;
    src: url('../fonts/NotoSans-Bold.ttf');
}